/* Apply smooth scrolling behavior to all anchor links */
html {
  scroll-behavior: smooth;
}

/* Styling for the navigation bar */
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

/* Styling for navigation bar links */
.navbar a {
  color: #ffffff;
  margin: 0 7.5px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
}

/* Hover effect for navigation bar links */
.navbar a:hover {
  color: #56c000;
}

/* Styling for embedded content */
.embed {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Styling for the essay section */
#essay {
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
}

/* Styling for the about section */
section#about {
  background-color: #000000;
  padding: 40px;
}

/* Heading styles within sections */
section h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* Styling for individual about boxes */
.about-box {
  background-color: rgb(0, 63, 92, 0);
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 50%;
  opacity: 0; /* Initially hide the about-box */
  transition: opacity 5s, transform 5s; /* Apply smooth transitions */
}

/* Specific styles for the essay box */
#essay-box {
  width: 80%;
}

#essay-box > h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

#essay-box > p {
  font-size: 18px;
}

/* Heading styles within about boxes */
.about-box h2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* Individual about box widths and margins */
#box1, #box3 {
  width: 60%;
  margin-bottom: 10%;
}
#box2, #box4 {
  width: 60%;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10%;
}

/* Styling for sections with images */
.sect {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

/* Border line styles */
.line {
  border-top: 10px solid #001933;
  opacity: 0.5;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* Heading styles */
h1 {
  background-color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

/* Styles for images within sections */
.imgalign1, .imgalign2, .imgalign3, .imgalign4 {
  width: 45%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10%;
  opacity: 0; /* Initially hide the images */
  transition: opacity 5s, transform 5s; /* Apply smooth transitions */
}

/* Styling for the scroll-to-top button */
.scroll-to-top-button {
  display: none; /* Initially hide the button */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  opacity: .3;
  transition: background-color 0.3s, transform 1s;
  z-index: 9999;
}

/* Hover effect for scroll-to-top button */
.scroll-to-top-button:hover {
  background-color: #000000; /* Change the background color on hover */
  transform: scale(1.1); /* Add a small scale effect on hover */
  opacity: 1;
}

/* Styling for the team section */
.team-body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding-top: 30px;
}

.title h1{
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.intro {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  width: 150px;
  border-radius: 15px;
  margin: 15px;
  color:white;
  transition: transform 0.3s ease;
}

.name > p {
  font-size: 16px;
  color: white;
}

.display-pic > img{
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.intro:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.team-page {
  width: 100%;
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
}

.name > h3 {
  margin-bottom: 2px;
  text-align: center;
}

.name > p {
  margin-top: 2px;
  text-align: center;
}

.meet-main {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.lead {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.team-body {
  position: relative;
  
  min-height: 100vh; /* Set the height of the video container */
  overflow: hidden;
  margin-bottom: 20px;
}

.team-page {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.01); /* Add a semi-transparent background overlay */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1; /* Place the video behind the content */
}

@media (max-width: 768px) {
  #planet {
    width: 100%;
  }
  #star-planet {
    display: none;
  }
}


@media (max-width: 575px) {
  .iframes {
    display: none;
  }
  #Astralis {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  .even {
    flex-direction: column-reverse;
  }
  .odd {
    flex-direction: column;
  }
  .imgalign1, .imgalign2, .imgalign3, .imgalign4 {
    width: 80%;
  }
  #box1, #box3,#box2, #box4, #essay-box {
    width: 90%;
    margin-bottom: 10%;
  }
  .about-box > h2, #essay-box > h2 {
    text-align: center;
    font-size: 20px;
  }
  .about-box > p, #essay-box > p {
    font-size: 14px;
  }
  .title h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .navbar a {
    font-size: 14px;
  }
}


